@media (min-width: 768px) {
  #the_header {
    .logo {
      h1 {
        @include size(29vw 8vw);
      }
    }

    .banner {
      .dados {
        > .wrapper {
          width: 450px;
          padding-top: 50vw;
          
          header, time {
            width: 150px;
            height: 150px;
          }

          header {
            padding: 20px;

            h1 {
              margin: 0 0 10px 0;
              font-size: rem(24);
            }

            h2 {
              font-size: rem(14);
              line-height: 30px;
              right: 30px;
              height: 30px;

              &:after {
                @include size(30px);
                right: -30px;
                line-height: 32px;
              }
            }
          }

          time {
            padding: 20px;
            font-size: rem(32);
            line-height: rem(44);

            em {
              font-size: rem(44);
            }

            &:after {
              font-size: rem(21);
              @include size(50px);
              margin-left: -25px;
              line-height: 50px;
            }
          }
        }
      }
      footer {
        height: 60px;
        font-size: rem(21);
        line-height: rem(21);
        margin: 20px 0;

        &:before {
          @include size(60px);
          font-size: rem(28);
          line-height: rem(60);
        }

        .wrapper {
          line-height: rem(28);
          padding: 7px 10px;

          time {
            font-size: rem(24);
          }

          h2 {
            font-size: rem(16);
          }
        }
      }
    }
  }
}

#sessoes {
  > article {
    > h1 {
      font-size: rem(32);
      margin-bottom: 30px;
    }
  }
}

#convidados {
  > h1 {
    font-size: rem(32);
    margin-bottom: 30px;
  }
}