@import "vars";

* {
  margin: 0;
  padding: 0;
}

@import "bootstrap";
@import "bourbon";
@import "font-awesome";

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Kaushan+Script);

html {
  font-size: 14px;
}

body {
  -webkit-font-smoothing: antialiased;
}

#the_header {
  .logo {
    h1 {
      margin: 0;
      display: inline-block;
      @include size(40vw 12.5vw);

      a {
        display: block;
        height: 100%;
        background: url(../images/logo-kaminari.png) no-repeat center center;
        background-size: contain;
        text-indent: -9999px;
        overflow: hidden;
      }
    }

    .menu {
      display: none;
    }
  }

  .banner {
    background: url(../images/destaque-kaminari2.png) no-repeat center top;
    background-size: 100% auto;

    .dados {
      width: 100%;
      font-size: 0px;

      > .wrapper {
        width: 270px;
        margin: 0 auto;
        padding-top: 45vw;

        header, time {
          width: 90px;
          height: 90px;
          padding: 0;
          margin: 0;
          position: relative;
          font-size: rem(14);
          float: left;
        }

        header {
          background-color: #FFF;
          padding: 10px;

          h1 {
            margin: 0 0 10px 0;
            text-transform: uppercase;
            font-size: rem(16);
            position: relative;

            em {
              font-style: normal;
              display: block;
              font-weight: 700;
            }

            &:after {
              content: "";
              width: 60%;
              height: 1px;
              background-color: #DBDBDB;
              position: absolute;
              bottom: -10px;
              left: 0;
            }
          }

          h2 {
            display: inline-block;
            background-color: #565960;
            margin: 0;
            padding: 0px 10px;
            height: 25px;
            position: absolute;
            bottom: 0;
            right: 25px;
            color: #FFF;
            font-size: rem(12);
            line-height: 25px;
            font-weight: 700;
            text-transform: uppercase;

            &:after {
              content: "\f178";
              display: block;
              @include size(25px);
              background-color: #FFEA00;
              position: absolute;
              top: 0;
              right: -25px;
              color: #565960;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-align: center;
              line-height: 27px;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              transform: translate(0, 0);
            }
          }
        }

        time {
          background-color: #FFEA00;
          color: #565960;
          padding: 10px;
          text-align: center;
          text-transform: uppercase;
          font-size: rem(18);
          line-height: rem(18);

          em {
            display: block;
            font-size: rem(28);
            font-style: normal;
            letter-spacing: rem(0);
            line-height: rem(24);
          }

          &:nth-of-type(2) {
            background-color: #EEDA09;
          }

          &:after {
            content: "\f073";
            display: block;
            @include size(30px);
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -15px;
            color: #565960;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-align: center;
            line-height: 30px;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transform: translate(0, 0);
            border-bottom: 1px solid #D1C70B;
          }
        }
      }
    }

    footer {
      height: 40px;
      width: 100%;
      margin: 10px 0;
      background-color: #565960;
      text-align: center;
      font-size: rem(14);
      line-height: rem(14);

      &:before {
        content: "\f017";
        display: inline-block;
        @include size(40px);
        background-color: #FFEA00;
        color: #565960 !important;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: rem(20);
        text-align: center;
        line-height: rem(40);
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        vertical-align: top;
      }

      .wrapper {
        display: inline-block;
        text-align: left;
        color: #FFF;
        padding: 3px 10px;
        line-height: rem(20);

        time {
          display: block;
          font-size: rem(18);

          em {
            font-style: normal;
            font-weight: 700;
          }
        }

        h2 {
          display: block;
          text-transform: uppercase;
          font-size: rem(12);
          font-weight: 700;
          margin: 0;
        }
      }
    }
  }
}

#sessoes {
  background: url(../images/bg-dotted.png);

  > article {
    padding: 20px;
    font-size: rem(18);
    color: #565960;
    margin-bottom: 30px;

    > h1 {
      font-family: 'Kaushan Script';
      color: #565960;
      text-align: center;
      font-size: rem(24);
      padding-bottom: 20px;
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 40px;
        height: 3px;
        left: 50%;
        margin-left: -20px;
        background-color: #44A025;
      }
    }
  }
}

#convidados {
  padding: 20px;
  background: url(../images/bg-stripped.png);

  > h1 {
    font-family: 'Kaushan Script';
    color: #565960;
    text-align: center;
    font-size: rem(24);
    padding-bottom: 20px;
    position: relative;
    margin-top: 0 !important;
    margin-bottom: 20px !important;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 40px;
      height: 3px;
      left: 50%;
      margin-left: -20px;
      background-color: #D71923;
    }
  }

  .convidado {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;

    img {
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      border: 20px solid #D71923;
      @include size(210px);
    }

    h1 {
      font-family: 'Kaushan Script';
      color: #D71923;
      font-size: rem(20);
      position: relative;
      padding-bottom: 10px;

      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 50px;
        height: 1px;
        left: 50%;
        margin-left: -25px;
        background-color: #D71923;
      }
    }

    p {
      font-size: rem(18);
      color: #565960;
    }
  }
}

#ingressos {
  text-align: center;
  padding: 0 0 10px 0;
  background: #1FBE9E url(../images/bg-dotted2.png);
  color: #FFF;
  font-size: rem(18);

  h1 {
    font-family: 'Kaushan Script';
    color: #FFF;
    font-size: rem(24);
    position: relative;
    padding-bottom: 20px;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 40px;
      height: 3px;
      left: 50%;
      margin-left: -20px;
      background-color: #158875;
    }
  }

  p {
    padding: 10px;
  }

  a {
    display: block;
    width: 290px;
    height: 100px;
    margin: 10px auto;
    border: 1px dashed #FFF;
    border-radius: 10px;
    position: relative;

    &:before, &:after {
      content: "";
      @include size(30px);
      background: #1FBE9E url(../images/bg-dotted2.png);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      margin-top: -15px;
      z-index: 10;
    }

    &:before {
      border-right: 1px dashed #FFF;
      left: -15px;
    }

    &:after {
      border-left: 1px dashed #FFF;
      right: -15px;
    }

    span {
      display: block;
      float: left;

      &:first-child {
        color: #565960;
        height: 100%;
        background-color: #fff;
        width: 40%;
        text-align: center;
        border-radius: 10px 0 0 10px;
        font-size: rem(14);

        i {
          display: block;
          font-size: rem(40);
          padding: 10px 0 5px 0;
          color: #1FBE9E;
        }

        em {
          display: block;
          font-size: rem(22);
          font-weight: 700;
          font-style: normal;
          line-height: rem(21);
        }
      }

      &:last-child {
        display: block;
        text-transform: uppercase;
        color: #FFF;
        font-weight: 700;
        letter-spacing: 1px;
        border: 2px solid #FFF;
        border-radius: 3px;
        width: 100px;
        height: 35px;
        line-height: 35px;
        margin: 33px 0 0 30px;
      }
    }
  }
}

#contato {
  background: url(../images/bg-dotted.png);
  padding: 10px;
  color: #565960;

  > h1 {
    font-family: 'Kaushan Script';
    color: #565960;
    text-align: center;
    font-size: rem(24);
    padding-bottom: 20px;
    position: relative;
    margin-top: 0 !important;
    margin-bottom: 20px !important;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 40px;
      height: 3px;
      left: 50%;
      margin-left: -20px;
      background-color: #F3CA2C;
    }
  }

  .info {
    font-size: rem(16);
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;

    h2 {
      margin: 0 0 5px 0;
      font-size: rem(18);
      font-weight: 700;
    }

    address {
      font-size: rem(18);
      margin: 0;
    }

    address:before {
      color: #51C137;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      margin-right: 10px;
    }

    address.phone:before {
      content: "\f232";
    }

    address.email:before {
      content: "\f0e0";
    }

    &:after {
      content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 30px;
        height: 1px;
        left: 0;
        background-color: #51C137;
    }
  }
}

@import "_sm-res";